# Practice 1. timeseries basics

데이터 셋 링크: https://www.kaggle.com/datasets/robervalt/sunspots

다음은 태양의 흑점 개수를 집계한 시계열 데이터 셋입니다. 데이터 셋이 트렌드와 계절성을 띄는지 확인해보세요. 그리고 SMA와 EWMA를 계산하고, 시각화 해보세요.

In [14]:
import pandas as pd

df = pd.read_csv("./data/Sunspots.csv", index_col="Date", parse_dates=True)
df

            Sunspots
Date
1749-01-31      96.7
1749-02-28     104.3
1749-03-31     116.7
1749-04-30      92.8
1749-05-31     141.7
...              ...
2020-09-30       0.6
2020-10-31      14.4
2020-11-30      34.0
2020-12-31      21.8
2021-01-31      10.4

[3265 rows x 1 columns]