# Practice 1.

데이터 셋 링크: https://www.kaggle.com/datasets/robervalt/sunspots

다음은 태양의 흑점 개수를 집계한 시계열 데이터 셋입니다. 데이터 셋이 트렌드와 계절성을 띄는지 확인해보세요. 그리고 간단한 시계열 예측 모델을 만들어서 성능을 측정해보세요.

In [14]:
import pandas as pd

df = pd.read_csv("./data/Sunspots.csv", index_col="Date", parse_dates=True)
df

            Sunspots
Date
1749-01-31      96.7
1749-02-28     104.3
1749-03-31     116.7
1749-04-30      92.8
1749-05-31     141.7
...              ...
2020-09-30       0.6
2020-10-31      14.4
2020-11-30      34.0
2020-12-31      21.8
2021-01-31      10.4

[3265 rows x 1 columns]

In [23]:
threshold = pd.Timestamp("2000-01-01")
train_df = df[:threshold]
test_df = df[threshold:]

In [25]:
train_df

            Sunspots
Date
1749-01-31      96.7
1749-02-28     104.3
1749-03-31     116.7
1749-04-30      92.8
1749-05-31     141.7
...              ...
1999-08-31     142.3
1999-09-30     106.3
1999-10-31     168.7
1999-11-30     188.3
1999-12-31     116.8

[3012 rows x 1 columns]

In [26]:
test_df

            Sunspots
Date
2000-01-31     133.1
2000-02-29     165.7
2000-03-31     217.7
2000-04-30     191.5
2000-05-31     165.9
...              ...
2020-09-30       0.6
2020-10-31      14.4
2020-11-30      34.0
2020-12-31      21.8
2021-01-31      10.4

[253 rows x 1 columns]