## 복습 2. 성적표

### 1. 학생 이름과 수학 성적, 국어 성적이 tuple로 묶여있는 리스트가 있습니다. 이를 학생 이름을 key, 수학 성적과 국어 성적이 튜플로 묶인 값을 value로 갖는 딕셔너리로 변경해보세요. for 문을 사용하세요.

In [2]:
score_list = [
    ("민수", 90, 95),
    ("지영", 45, 50),
    ("연수", 70, 85),
    ("해인", 80, 90),
    ("지아", 55, 75),
    ("기덕", 80, 85),
    ("우영", 75, 95),
    ("강산", 50, 55),
    ("연지", 75, 65),
    ("동호", 95,  90),
]

In [6]:
score_dict = {}

for name, math, korean in score_list:
    score_dict[name] = (math, korean)
score_dict

{'민수': (90, 95),
 '지영': (45, 50),
 '연수': (70, 85),
 '해인': (80, 90),
 '지아': (55, 75),
 '기덕': (80, 85),
 '우영': (75, 95),
 '강산': (50, 55),
 '연지': (75, 65),
 '동호': (95, 90)}

### 2.  for 문을 사용해서 학생 이름과 총점을 출력하세요

In [7]:
for name, (math, korean) in score_dict.items():
    print(name, math + korean)

민수 185
지영 95
연수 155
해인 170
지아 130
기덕 165
우영 170
강산 105
연지 140
동호 185

### 3. 수학 문제 하나가 잘못되어 전원 정답 처리를 하게 되었습니다. 민수와 지아는 원래도 그 문제를 맞춰서 그대로 두고, 나머지 억울하게 틀린 학생들의 점수만 5점씩 올려주세요. for문과 if 문, continue, in 문법을 사용하세요

In [8]:
for name, (math, korean) in score_dict.items():
    if name in ["민수", "지아"]:
        continue
    score_dict[name] = (math + 5, korean)
score_dict

{'민수': (90, 95),
 '지영': (50, 50),
 '연수': (75, 85),
 '해인': (85, 90),
 '지아': (55, 75),
 '기덕': (85, 85),
 '우영': (80, 95),
 '강산': (55, 55),
 '연지': (80, 65),
 '동호': (100, 90)}

### 4.  수학은 70점 이하일 경우 재시험 대상자입니다. 국어는 60점 이하일 경우 재시험 대상자입니다. 수학과 국어 각각 재시험 대상자를 출력하세요. for문을 사용하세요

In [10]:
print("수학 재시험 대상자")
for name, (math, korean) in score_dict.items():
    if math <= 70:
        print(name)

print("\n국어 재시험 대상자")
for name, (math, korean) in score_dict.items():
    if korean <= 60:
        print(name)

수학 재시험 대상자
지영
지아
강산

국어 재시험 대상자
지영
강산

### 5.  수학 점수의 평균(mean)과 중간값(median)을 구하세요. 국어 점수의 평균과 중간값도 구하세요. for 문과  len을 사용하세요. for문을 한번만 사용하세요.

In [13]:
math_scores = []
korean_scores = []
for name, (math, korean) in score_dict.items():
    math_scores.append(math)
    korean_scores.append(korean)

print("math average:", sum(math_scores) / len(math_scores), "median:", sorted(math_scores)[len(math_scores)//2])
print("korean average:", sum(korean_scores) / len(korean_scores), "median:", sorted(korean_scores)[len(korean_scores)//2])

math average: 75.5 median: 80
korean average: 78.5 median: 85

### 6. (선택) 학생의 이름과 수학 점수 등수,, 국어 점수 등수를  묶은 딕셔너리를 만들어보세요. 동점자가 있을 경우, 공동 등수로 표기합니다.
ex) 수학점수  
민호: 70점  
진수: 80점  
경호: 70점  
준영: 90점  

준영: 1등  
진수: 2등   
경호, 민호: 3등  

만들어야할 딕셔너리  
{  
    "민수": (2, 1),  
    ...  
}

In [25]:
math_scores = []
korean_scores = []
for name, (math, korean) in score_dict.items():
    math_scores.append(math)
    korean_scores.append(korean)
    
sorted_unique_math_scores = sorted(list(set(math_scores)), reverse=True)
sorted_unique_korean_scores = sorted(list(set(korean_scores)), reverse=True)

In [26]:
sorted_unique_math_scores

[100, 90, 85, 80, 75, 55, 50]

In [27]:
sorted_unique_korean_scores

[95, 90, 85, 75, 65, 55, 50]

In [28]:
math_rank = {}
for i, math_score in enumerate(sorted_unique_math_scores):
    math_rank[math_score] = (i + 1)

In [29]:
korean_rank = {}
for i, korean_score in enumerate(sorted_unique_korean_scores):
    korean_rank[korean_score] = (i + 1)

In [30]:
math_rank

{100: 1, 90: 2, 85: 3, 80: 4, 75: 5, 55: 6, 50: 7}

In [31]:
korean_rank

{95: 1, 90: 2, 85: 3, 75: 4, 65: 5, 55: 6, 50: 7}

In [33]:
rank_dict = {}
for name, (math, korean) in score_dict.items():
    rank_dict[name] = (math_rank[math], korean_rank[korean])

In [34]:
rank_dict

{'민수': (2, 1),
 '지영': (7, 7),
 '연수': (5, 3),
 '해인': (3, 2),
 '지아': (6, 4),
 '기덕': (3, 3),
 '우영': (4, 1),
 '강산': (6, 6),
 '연지': (4, 5),
 '동호': (1, 2)}