In [38]:
import pymysql 

conn = pymysql.connect(
    host="127.0.0.1",
    user="root",
    password="1234",
    database="mystore",
)

## Read Query

In [21]:
select_sql = "SELECT * FROM reviews"
with conn.cursor() as cursor:
    cursor.execute(select_sql)
    result = cursor.fetchall()

In [22]:
result

((1, 1, 5),
 (2, 1, 4),
 (3, 1, 1),
 (4, 3, 2),
 (5, 3, 4),
 (6, 3, 3),
 (7, 4, 2),
 (8, 4, 3),
 (9, 4, 5),
 (10, 6, 5),
 (11, 6, 4),
 (12, 6, 1),
 (13, 6, 1))

## Write Query

In [20]:
insert_sql = "INSERT INTO reviews(item_id, rating) VALUES (6, 1)"
with conn.cursor() as cursor:
    cursor.execute(insert_sql)
    conn.commit()

## Bulk Write Query

In [52]:
insert_sql = "INSERT INTO customers(customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state) VALUES (%s, %s, %s, %s, %s)"

In [54]:
import csv 

batchsize = 1000 
with open("./data/olist/customers.csv") as fr:
    reader = csv.reader(fr)
    buffer = []
    for i, row in enumerate(reader):
        if i == 0:
            continue
        if i > 3:
            break
        print(row)
        continue
        buffer.append(row)
        if len(buffer) == batchsize:
            with conn.cursor() as cursor:
                cursor.executemany(insert_sql, buffer)
                conn.commit()
            buffer = []
    if buffer:
        with conn.cursor() as cursor:
            cursor.executemany(insert_sql, buffer)
            conn.commit()

['06b8999e2fba1a1fbc88172c00ba8bc7', '861eff4711a542e4b93843c6dd7febb0', '14409', 'franca', 'SP']
['18955e83d337fd6b2def6b18a428ac77', '290c77bc529b7ac935b93aa66c333dc3', '09790', 'sao bernardo do campo', 'SP']
['4e7b3e00288586ebd08712fdd0374a03', '060e732b5b29e8181a18229c7b0b2b5e', '01151', 'sao paulo', 'SP']

In [55]:
values = [
    ['06b8999e2fba1a1fbc88172c00ba8bc7', '861eff4711a542e4b93843c6dd7febb0', '14409', 'franca', 'SP'],
    ['18955e83d337fd6b2def6b18a428ac77', '290c77bc529b7ac935b93aa66c333dc3', '09790', 'sao bernardo do campo', 'SP'],
    ['4e7b3e00288586ebd08712fdd0374a03', '060e732b5b29e8181a18229c7b0b2b5e', '01151', 'sao paulo', 'SP'],
]

In [56]:
with conn.cursor() as cursor:
    cursor.executemany(insert_sql, values)
    conn.commit()

In [29]:
with conn.cursor() as cursor:
    cursor.execute(insert_sql, values)
    conn.commit()

In [50]:
select_sql = "SELECT * FROM customers"
with conn.cursor() as cursor:
    cursor.execute(select_sql)
    result = cursor.fetchall()

In [51]:
print(len(result))

99441