## ch8_2 pandas dataframe
이번 챕터에서는 본격적으로 여러 컬럼과 로우가 들어있는 테이블 데이터를 pandas dataframe을 사용하여 다뤄보겠습니다. 먼저 아래 링크로 들어가서 음악 스트리밍 서비스 spotify가 공개한 2019년 가장 많이 스트리밍 된 트랙 데이터 셋을 다운 받아서 data 폴더 아래에 위치시키겠습니다. 파일 이름이 길어서 "spotify_2019.csv"로 변경하겠습니다.

데이터 셋: https://www.kaggle.com/datasets/prasertk/spotify-global-2019-moststreamed-tracks

### csv 파일로부터 dataframe 생성하기
pd.read_csv 함수를 사용하면 csv 파일의 데이터를 읽어서 pandas dataframe을 생성합니다. 살펴보면 2019년 가장 많이 스트리밍 된 트랙 1714개에 대해서 아티스트, 스트리밍 횟수 등의 정보를 알려줍니다.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("./data/spotify_2019.csv")

### dataframe에 들어있는 값 일부 확인하기
df를 그대로 출력해도 jupyter notebook 상에서는 데이터를 확인할 수 있다. df.head나 df.tail을 이용할 경우, 데이터 프레임의 맨 앞 행들 혹은 맨 마지막 행들을 확인할 수 있다.

### dataframe 기본 정보 확인하기
pandas는 dataframe에 포함된 데이터들을 살펴보는데 편리한 기능들을 제공해줍니다. 

먼저 간단히 데이터 프레임에 행이 몇개고, 컬럼이 몇개인지를 알고 싶으면 df.shape를 사용합니다.

다음으로 df.info()를 사용하면 데이터 프레임에 어떤 컬럼들이 있고, 각각의 데이터 타입은 어떤지 알 수 있습니다.

다음으로 df.describe()를 이용하여 각 컬럼별로 최소값과 최대값, 평균, 분산 등 기초 통계량을 계산해보겠습니다. 이를 통해서 아주 기본적인 데이터 분석을 진행할 수 있습니다.

### column 명으로 데이터 조회

### dataframe iloc
iloc은 integer location의 약자로, 정수 인덱스를 사용하여 특정 row와 column을 가져올 수 있습니다.

iloc과 slicing을 같이 사용하면 데이터프레임의 특정 범위를 가져올 수 있습니다.

### 연습문제
현재 dataframe은 스트리밍 횟수를 기준으로 내림차순 정렬이 된 상태입니다. 스트리밍 횟수 순위가 10위부터 19위인 트랙들의 트랙 이름, 아티스트, 스트리밍 횟수를 가져오세요.

,Track Name,Artist,Streams
10,Without Me,Halsey,605653817
11,Calma - Remix,Pedro Capó,591435651
12,Dancing With A Stranger (with Normani),Sam Smith,560659214
13,Goodbyes (Feat. Young Thug),Post Malone,501130662
14,Beautiful People (feat. Khalid),Ed Sheeran,499741532
15,Old Town Road (feat. Billy Ray Cyrus) - Remix,Lil Nas X,490147372
16,China,Anuel AA,486837636
17,Callaita,Bad Bunny,478232047
18,MIDDLE CHILD,J. Cole,471425764
19,High Hopes,Panic! At The Disco,470921270